.letterBox {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    font-size: 36px;
    margin: 2px;
    font-weight: 700;
    text-align: center;
    transition: 0.1s;
}

.letterKeyBox {
    width: 25px;
    height: 50px;
}

.gray {
    background-color: lightgray;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: lightgreen;
}